<form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <div class="row mb-3 ">
        <div class="col-12 col-md-6">
            <label for="nombre" class="form-label">{{ 'FORM-PRESUPUESTO.NAME' | translate }}*</label>
            <input id="nombre" formControlName="nombre" class="form-control" [ngClass]="{
            'is-invalid': !isValid
                ? form.nombre.errors
                : ((form.nombre.dirty || form.nombre.touched) && form.nombre.errors),

            'is-valid': isValid
                ? !form.nombre.errors
                : ((form.nombre.dirty || form.nombre.touched) && !form.nombre.errors)
        }">
        </div>
        @if ((form.nombre.dirty || form.nombre.touched || !isValid) && form.nombre.hasError('required')) {
        <div class="invalid-feedback">
            {{ 'FORM-PRESUPUESTO.ERRORS.REQUIRED' | translate }}
        </div>

        }


        <div class="col-12 col-md-6">
            <label for="email" class="form-label">{{ 'FORM-PRESUPUESTO.EMAIL' | translate }}*</label>
            <input id="email" formControlName="email" class="form-control" />
        </div>

    </div>

    <div class="row mb-3">
        <div class="col-12 col-md-6">
            <label for="telefono" class="form-label">{{ 'FORM-PRESUPUESTO.PHONE' | translate }}*</label>
            <input id="telefono" formControlName="telefono" class="form-control" />
        </div>
        <div class="col-12 col-md-6">
            <label for="servicio" class="form-label">{{ 'FORM-PRESUPUESTO.SERVICE' | translate }}*</label>
            <p-select formControlName="servicio" [options]="servicios" optionLabel="nombre"
                placeholder="Selecciona un servicio" styleClass="w-100">
                <ng-template let-servicio #item>
                    {{ servicio.nombre | translate }}
                </ng-template>

                <ng-template let-servicio #selectedItem>
                    {{ servicio.nombre | translate }}
                </ng-template>
            </p-select>
        </div>
    </div>

    @if (mostrarNumeroInvitados) {
    <div class="row mb-3">

        <div class="col-12 col-md-6">

            <label for="numeroInvitados">{{ 'FORM-PRESUPUESTO.NUMBER-GUESTS' | translate }}*</label>

            <input id="numeroInvitados" type="number" formControlName="numeroInvitados" class="form-control" min="1"
                defaultValue="100" autocomplete="off" inputmode="numeric" name="numeroInvitados">
        </div>

    </div>
    }

    <div class="row mb-3">
        <div class="col-12 col-md-6">
            <label for="fecha" class="form-label">
                {{ 'FORM-PRESUPUESTO.DATE' | translate }}*
            </label>

            <p-datepicker formControlName="fecha" inputId="fecha" appendTo="body" [showIcon]="true" iconDisplay="input"
                dateFormat="dd/mm/yy" styleClass="w-100">
            </p-datepicker>
        </div>
        <div class="col-12 col-md-6">
            <label for="lugar" class="form-label">{{ 'FORM-PRESUPUESTO.LOCATION' | translate }}*</label>
            <input id="lugar" formControlName="lugar" class="form-control" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <label for="mensaje" class="form-label">{{ 'FORM-PRESUPUESTO.MESSAGE' | translate }}</label>
            <textarea id="mensaje" formControlName="mensaje" class="form-control"></textarea>
        </div>
    </div>

    <div class="row mt-4">

        <div class="col-12 d-flex justify-content-center gap-3 flex-wrap">

            <app-button type="secondary" (click)="clear()" [text]="'FORM-PRESUPUESTO.CLEAR' | translate">
            </app-button>
            <!--    <button type="submit">
                Enviar prueba
            </button> -->

            <app-button type="primary" buttonType="submit" (click)="onSubmit()"
                [text]="'FORM-PRESUPUESTO.SENT' | translate">
            </app-button>

        </div>

    </div>


</form>