@import '../../../../styles/colors.scss';
@import '../../../../styles/fonts.scss';
@import '../../../../styles/base/typography.scss';

.btn  {
    padding:  0.5rem  3rem;
    border-radius:  156px;
    font-weight:  bold;
    transition:  transform 0.3s  ease;
    cursor:  pointer;

      &:active{
            transform: scale(0.96);
        }
 }
 
 .btn-primary {
     background-color: $primary-light;
     color: $primary-dark;
     border: 2px solid $primary-light;
     //border: 2px solid  $primary-dark;

        &:hover{
            background-color: $primary-dark;
            color:  $white;
            border: 2px solid  $primary-dark;

        }

        &:active{
            background-color: $white;
            color:  $primary-dark;
            border: 2px solid  $primary-dark;
        }
 }

 
 .btn-secondary  {
    background-color:  $secondary-light;
    color:  $secondary-dark;
    border: 2px solid $secondary-light;
    //border:  2px solid  $secondary-dark;

    &:hover  {
        background-color:  $secondary-dark;
        color:  $white;
        border:  2px solid  $secondary-dark;
    }

    &:active  {
        background-color:  $white;
        color:  $secondary-dark;
        border:  2px solid  $secondary-dark;
    }
 }
 



