$primary: #D6A4A5;
$primary-dark: #B86F80;
$primary-light: #F1D9D7;

$secondary: #ABA290;
$secondary-dark: #6E6E4D;
$secondary-light: #DAD5CA;

$gray: #6D6D6D;
$gray-dark: #404040;
$gray-light: #B7B7B7;

$white: #FFFFFF;
$black: #000000;


$error: #b04f00;
$on-error: #ffffff;

$success: #A3C4BC;
$on-success: #ffffff;