$base-font-family : "Montaga",sans-serif;
$base-font-size : 16px;
$base-line-height : 1.2;


$title-font-family : "Cormorant",serif;
$title-font-weight : 30px;  
$title-line-height : 1.2;


$subtitle-font-family : "Habibi",serif;
$subtitle-font-weight : 23px;
$subtitle-line-height : 1.2;

$monospace-font-family : "Courier New",monospace;