<div class="wrapper">
    <div class="container-fluid p-0 m-0">
        <nav class="navbar  navbar-expand-lg header-navbar" [class.scrolled]="scrolled">
            <div class="container-fluid">
                <a class="nav-link " href="#">
                    <img src="../../../assets/img/logo/logo1.webp" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="links">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <!--  <a class="nav-link  menu-a" href="/live-art">{{ 'MENU.LIVE-ART' | translate }}</a> -->
                                <a class="nav-link menu-a" [routerLink]="'/live-art'" routerLinkActive="active-link"
                                    [routerLinkActiveOptions]="{ exact: false }">
                                    {{ 'MENU.LIVE-ART' | translate }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  menu-a" [routerLink]="'/invitaciones'"
                                    routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: false }">
                                    {{ 'MENU.INVITATIONS' | translate }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu-a" [routerLink]="'/papeleria'" routerLinkActive="active-link"
                                    [routerLinkActiveOptions]="{ exact: false }">
                                    {{ 'MENU.CRAFTS' | translate }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu-a" [routerLink]="'/encargos'" routerLinkActive="active-link"
                                    [routerLinkActiveOptions]="{ exact: false }">
                                    {{ 'MENU.COMMISSIONS' | translate }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  menu-a" [routerLink]="'/about'" routerLinkActive="active-link"
                                    [routerLinkActiveOptions]="{ exact: false }">
                                    {{ 'MENU.ABOUT' | translate }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

    </div>
</div>