<!-- //la idea es meter una animacion para que con posición fixed que asi se monte sobre la imagen el fondo se transparente y
se vea la imagen de a y al hacer scrol se vuelva blanca. -->
<div class="wrapper">
    <div class="container-fluid p-0 m-0">
        <nav class="navbar  navbar-expand-lg header-navbar" [class.scrolled]="scrolled">
            <div class="container-fluid">
                <a class="nav-link " href="#">
                    <img src="../../../assets/img/logo/logo1.webp" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="links">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link  menu-a" href="/live-art">{{ 'MENU.LIVE-ART' | translate }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu-a" href="/papeleria">{{ 'MENU.CRAFTS' | translate }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu-a" href="/encargos">{{ 'MENU.COMMISSIONS' | translate }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  menu-a" href="/about">{{ 'MENU.ABOUT' | translate }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

    </div>
</div>