<form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="mx-3">
    <div class="row mb-3 ">
        <div class="col-6">
            <label for="nombre" class="form-label">Nombre y Apellido*</label>
            <input id="nombre" formControlName="nombre" class="form-control" />
        </div>
        <div class="col-6">
            <label for="email" class="form-label">Email*</label>
            <input id="email" formControlName="email" class="form-control" />
        </div>

    </div>

    <div class="row mb-3">
        <div class="col-6">
            <label for="telefono" class="form-label">Teléfono*</label>
            <input id="telefono" formControlName="telefono" class="form-control" />
        </div>
        <div class="col-6">
            <label for="servicio" class="form-label">Servicio*</label>
            <p-select formControlName="servicio" [options]="servicios" optionLabel="nombre" optionValue="id"
                placeholder="Selecciona un servicio" styleClass="w-100">
            </p-select>
        </div>
    </div>

    @if (necesitaInvitados) {
    <div class="row mb-3">

        <div class="col-6">

            <label for="numeroInvitados"> Número de invitados*</label>

            <input id="numeroInvitados" type="number" formControlName="numeroInvitados" class="form-control" min="1"
                defaultValue="100" />

        </div>

    </div>
    }

    <div class="row mb-3">
        <div class="col-6">
            <label for="fecha" class="form-label">
                Fecha del evento*
            </label>

            <p-datepicker formControlName="fecha" inputId="fecha" appendTo="body" [showIcon]="true" iconDisplay="input"
                dateFormat="dd/mm/yy" styleClass="w-100">
            </p-datepicker>
        </div>
        <div class="col-6">
            <label for="lugar" class="form-label">Lugar del evento*</label>
            <input id="lugar" formControlName="lugar" class="form-control" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <label for="mensaje" class="form-label">Mensaje</label>
            <textarea id="mensaje" formControlName="mensaje" class="form-control"></textarea>
        </div>
    </div>

    <app-button class="m-2" type="secondary" [text]="'LIMPIAR'">

    </app-button><app-button class="m-2" type="primary" [text]="'ENVIAR'"></app-button>
    <!-- <button type="submit" class="btn btn-primary">Enviar</button> -->
</form>