<div class="wrapper header-info">
    <div class="row container container-info">

        <a class="col container container-info__telephone app-a" (click)="openWhatsApp()">
            <i class="fa-brands fa-whatsapp"></i>
            <span>{{ 'PAGES.HEADER-INFO.TELEPHONE' | translate }}</span>
        </a>

        <a class="col container-info__email app-a d-flex justify-content-center align-content-center"
            (click)="openEmail()">
            <div><i class="fa-regular fa-envelope"></i>
                <span>rivilla.artstudio@gmail.com</span>
            </div>

        </a>
        <div class="col">
            <div class="language ">
                <a (click)="use('es')" [ngClass]="{ 'active-lang': selectedLang === 'es' }">


                    <img src="../../../assets/img/flags/flag-esp.webp" alt="Spain flag">
                    <span class="app-a">{{ 'LANG.SPANISH' | translate }}</span>
                </a>
                |&nbsp;&nbsp;
                <a (click)="use('en')" [ngClass]="{ 'active-lang': selectedLang === 'en' }">
                    <img src="../../../assets/img/flags/flag-uk.webp" alt="England flag">
                    <span class="app-a">{{ 'LANG.ENGLISH' | translate }}</span>
                </a>
            </div>
        </div>
    </div>
</div>