@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/base/a.scss';
@import '../../../styles/base/typography.scss';

.container-footer {
    
   width: 100%;
   height: auto;
    margin: 0 auto;
    padding: 0;

    &__links {
        display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $primary-light;
       
        img{
            cursor: pointer;
            height: 6rem;
            margin: 2rem;
        }
       .contacto{
            padding: 2rem;

        }
        .info{
            padding: 2rem 3rem 2rem 0;

        }
        .rrss{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem;

           
        }
    }
    &__brand {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        background-color: $primary-dark;
        
        span{
            font-family: $subtitle-font-family;
            font-size: 0.9rem;
            color: $white;
        }
      
    }
}