<p-carousel [value]="reviews" [numVisible]="3" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions"
    autoplayInterval="5000">
    <ng-template let-review pTemplate="item">
        <div class="review-card">

            <div class="review-card__header">

                @if (review.image) {

                <img [src]="review.image" [alt]="review.author" class="review-card__avatar">

                } @else {

                <div class="review-card__avatar review-card__avatar--placeholder text-white"
                    [style.background-color]="review.avatarColor">

                    {{ review.avatarLetter }}

                </div>

                }

                <div class="review-card__info">

                    <h4>{{ review.author }}</h4>


                </div>

            </div>
            <div class="review-card__rating">

                @for (star of [1,2,3,4,5]; track star) {

                <i class="fa-star text-warning" [class.fa-solid]="star <= review.rating"
                    [class.fa-regular]="star > review.rating">
                </i>

                }

            </div>

            <p class="review-card__comment">
                {{ review.comment }}
            </p>

        </div>

    </ng-template>
</p-carousel>