@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/base/typography.scss';

.title-invitaciones {
    text-align: center;
    margin-top: 4.5rem;
    margin-bottom: 2rem;
    color: $primary-dark;
}

.row-cards {
    margin-bottom: 4rem;

    .card-service {
        display: flex;
        justify-content: center;
    }
}

.card-contact {
    margin-top: 4rem;
    margin-bottom: 5rem;
    border-color: $primary-light;
}