//@import '../colors.scss';

.app-a {
    text-decoration: none;
    list-style: none;   
    transition: 0.25s;
    cursor: pointer;
    margin-right: 1em;
    color: $gray;

    &:hover {
        color: $primary;
    }

    &_active {
        color: $primary-dark;
    }
}

.menu-a {
    text-decoration: none;
    list-style: none;   
    transition: 0.25s;
    cursor: pointer;
    color: $gray-dark;
    font-family: $title-font-family;
    //font-size: 0.5em;
    //font-weight: 800;

    &:hover {
        color: $primary;
        border-bottom: 2px solid $primary; 
    }

    &:active {
        color: $primary-dark;
        font-weight: bold;
    }

&.active-link {
    color: $secondary;
    border-bottom: 2px solid $secondary;
}
     

  /*   &:visited{
        color: $primary-dark;
            font-weight: bold;
    } */

}

.icon-a{
        //margin: 0.2rem;
        cursor: pointer;
        color: $gray-dark;
        transition: 0.25s;
        font-size: 1.5em;

        &:hover {
            color: $primary-dark;
        }
    }

.text-a{
    text-decoration: none;
    list-style: none;   
    transition: 0.25s;
    cursor: pointer;
    color: $gray;
    font-family: $base-font-family;
    font-size: $base-font-size;

    &:hover {
        color: $primary;
    }

    &_active {
        color: $primary-dark;
        font-weight: bold;
    }
}