//@import '../colors.scss';

.app-a {
    text-decoration: none;
    list-style: none;   
    transition: 0.25s;
    cursor: pointer;
    margin-right: 1em;
    color: $gray;

    &:hover {
        color: $primary;
    }

    &_active {
        color: $primary-dark;
    }
}

.icon-a{
        //margin: 0.2rem;
        cursor: pointer;
        color: $gray-dark;
        transition: 0.25s;
        font-size: 1.5em;

        &:hover {
            color: $primary-dark;
        }
    }

.text-a{
    text-decoration: none;
    list-style: none;   
    transition: 0.25s;
    cursor: pointer;
    color: $gray;
    font-family: $base-font-family;
    font-size: $base-font-size;

    &:hover {
        color: $primary;
    }

    &_active {
        color: $primary-dark;
        font-weight: bold;
    }
}