@import '../colors.scss';

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: $secondary-light;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: $secondary;
    border-radius: 10px;
    border: 2px solid $secondary-light;
    transition: background .2s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: $secondary-dark;
}